*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}
ul li{
  list-style: none;
  display: inline-block;
}
body{
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #111;
    box-sizing: border-box;
}